.expenses {  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    &-wrapper {      
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &-elements {    
        max-width: 500px; 
        max-height: 210px;
        display: flex; 
        flex-wrap: wrap ; 
        justify-content: center;
        align-items: center;  
        position: relative; 
        overflow: hidden;   

        &__container {          
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;   
            margin: 0 20px;     
        }
    }

    &__element {  
        width: 70px;
        height: 70px;
        text-align: center;      
        font-size: 22px;
        cursor: pointer;
        color: $color-red;
        margin: 5px 0;      
        background-color: #FF8E88;
        border-radius: 50%;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    &__count {
        margin: 5px 0;
        font-size: 12px;
        color: $color-white;
    }

    &__title {
        margin: 5px 0;
        font-size: 14px;
        color: $color-white;
    }

    &-container__left {    
        display: flex;      
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-container__right {    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    &__img-container {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border: 10px solid $color-white;
        display: flex;
        justify-content: center;
        align-items: center;   
        margin: 0 0 10px;  
    }
    &__img {
        display: block;
        max-width: 250px;       
        max-height: 280px;  
    }

}