.introduction {
    display: flex;
    justify-content: space-around;
    padding: 55px 0 0;

    &__left {
        // width: 468px;
        max-width: 50%;
        padding: 100px 0;       
    }

    &__info {
        text-align: justify;
        margin: 0 0 40px;
        overflow: hidden;
    }

    &__img {
        display: block;
        max-width: 300px;       
        max-height: 361px;
    }

}