.scroll {  
    width: 68px;
    border-width: 1px;
    border-right-style: solid;
    border-image: 
        linear-gradient(
        to bottom, 
        rgba(220,27,72,1),
        rgba(255,117,109,1),        
    )1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__menu {       
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-item {         
            display: block;
            margin: 10px 0;         
            width: 10px;
            height: 10px;          
            border-radius: $full-border-radius;
            background-color: #C2C8DE;
            transition: {
                duration: $main-duration;
                property: 'background-color';
            }     

            &_active {               
                background: $to-bottom-red-gradient;
            }

            &:hover {         
                background-color: $color-red;
            }
        }
    }
}