.platforms {
    display: flex;
    width: 50%;
    padding: 0 0 30px;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    text-align: center;

    &__icon {
        font-size: 34px;
        color: $color-red;
        transition: {
            duration: $main-duration;
            property: 'color, transform';
        }
    }

    &__container {   
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: 0 0 10px;        
    }  
}