.feedback {  
    width: 100%;
    max-width: 68px;
    padding: 0 6.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    align-items: center;
    background: $to-bottom-red-gradient;
    border-radius: 0 10px 10px 0;       

    .feedback-container{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding: 20px 0;
    }

    &__icon { 
        width: 55px;     
        height: 55px;
        border-radius: 50%;
        margin: 10px 0;
        text-align: center;
        line-height: 55px;     
        background-color: $color-white; 
        color: $color-red;
        font-size: 20px;   
        flex-direction: column;
        transition: {
            duration: $main-duration;
            property: 'background';
        }

        &:hover {       
            background: $color-grey;
        }

        &_clear {        
            position: relative;
            text-align: center;       
            color: $color-white;
            font-size: 16px;           
            text-decoration: none;               
        }
    }

    &__title {
        display: block;            
        writing-mode: vertical-rl;  
        transform: rotate(180deg); 
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-white;            
    }  
}