
th {
	border-bottom: 1px solid $color-black;
}

td:first-child {
    color: $color-white;
    font: {
        family: 'Montserrat', sans-serif;
        weight: bold;  
    }
}

table {
	margin: 50px auto 10px;
	border-spacing: 0; 	
	border-collapse: collapse;
    background-color: #FFA0A0;
    border-radius: $full-border-radius;	
}

td, th {
	padding: 10px 10px;
    text-align: center;
    text-transform: lowercase;
    font-size: 14px;
}

th {
    text-transform: uppercase;
    color: $color-white;
    letter-spacing: 1px;
    font: {
        family: 'Montserrat', sans-serif;
        weight: bold;  
    }
}