.main__title {
    color: $color-black; 
    font-size: 36px;   
    margin: 0 0 40px;  
}

.second__title {
    display: block;
    text-decoration: none;  
    font-size: 24px;         
    color: $color-white;   

    &_red {
        color: $color-red;        
    }

    &_grey {
        font-size: 18px;
        line-height: 28px;
        color: $color-grey;
        text-align: center;
    }

    &_uppercase {   
        text-transform: uppercase;       
    }
}