$color-black: #000;
$color-white: #fff;
$color-red: #DC1B48;
$color-grey: #2A2F44;
$to-bottom-red-gradient: linear-gradient(360deg, rgba(255,117,109,1) 0%, rgba(220,27,72,1) 100%);;
$to-left-red-gradient: linear-gradient(90deg, rgba(255,117,109,1) 0%, rgba(220,27,72,1) 100%);;
$to-right-red-gradient: linear-gradient(240deg, rgba(255,117,109,1) 0%, rgba(220,27,72,1) 100%);;
$full-border-radius: 10px; 
$fullscreen: 100vh;
$main-duration: 0.9s;
$main-scale: scale(1.2);
